{% extends 'base.html.twig' %}

{% block title %}A propos
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/about.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="box_left">
                <h2>A propos</h2>
                <hr/>
                <p><i>GEEK CYBERCENTER</i> est une SAS au capital de 45 824 123 euros. 
                
                Il s’agit d’un groupe possédant plusieurs parcs d’attractions dans le  monde comme : BATTLE KART VR, FORTNITE ADVENTURE, PUBG SURVIVOR.
                
                En septembre 2019, le groupe ouvrira un nouveau parc : <strong>GAME ZONE</strong>. 
                
                Ce dernier sera le premier parc d’attraction au monde entièrement dédié à l’univers des jeux-vidéo.</p>
            </div>

            <div class="box_right"></div>
        </div>
    </main>
{% endblock %}
