{% extends 'base.html.twig' %}

{% block title %}Attractions{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/attractions.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<main>
    <div class="container">
        <div class="contain img1">
            <img style="width: 75%; height: auto;" src="{{ asset('img/logo_game_center.png') }}">
            <div class="overlay">
                <h3>Game Center</h3>
                <p>Un espace de 3000 m2 dédié au Retro Gaming. Vous
                    retrouverez toute l’ambiance des salles d’arcade des
                    années 80 avec les bornes de l’époque pour défier vos
                    amis dans les meilleurs jeux retro : Mario, Centipede, Q
                    Bert, Space invaders, Pac-Man...</p>
                <ul>
                    <li class="icon1"><span><i>Taille</i>
                            Tous</span></li>
                    <li class="icon2"><span><i>Avis</i>
                            3/5</span></li>
                    <li class="icon3"><span><i>XP</i>
                            500</span></li>
                </ul>
            </div>
        </div>
        <div class="contain img4">
            <img style="width: 65%; height: auto;" src="{{ asset('img/logo_fighter_hard.png') }}">
            <div class="overlay">
                <h3>Fighter Hard 
                Team</h3>
                <p>Dans ce jeu, il n’y a plus de règle. Vous êtes
équipé de la dernière armure sensitive et
vous ressentirez tous les coups que vos
adversaires vont vous porter. Attention
donc à ne pas prendre de mauvais coups.
Une attraction déconseillée aux femmes
enceintes.</p>
                <ul>
                    <li class="icon1"><span><i>Taille</i>
                            1m30</span></li>
                    <li class="icon2"><span><i>Avis</i>
                            3.5/5</span></li>
                    <li class="icon3"><span><i>XP</i>
                            1000</span></li>
                </ul>
            </div>
        </div>
        <div class="contain img5">
            <img style="width: 65%; height: auto;" src="{{ asset('img/logo_fighter_league.png') }}">
            <div class="overlay">
                <h3>Super Fighter
                League</h3>
                <p>Vous aimez les jeux de combat alors
bienvenue dans ce grand 8 aux couleurs des
plus grands combattants de l’histoire du
jeu-vidéo : Ryu, Raiden, Akuma, Yoshimitsu,
Sub Zero, Scorpion et plus encore vont vous
défier dans ce manège à sensation.</p>
                <ul>
                    <li class="icon1"><span><i>Taille</i>
                            1m10 min</span></li>
                    <li class="icon2"><span><i>Avis</i>
                            3/5</span></li>
                    <li class="icon3"><span><i>XP</i>
                            1000</span></li>
                </ul>
            </div>
        </div>
        <div class="contain img6">
            <img style="width: 62%; height: auto;" src="{{ asset('img/logo_awesome_heroes.png') }}">
            <div class="overlay">
                <h3>Awsome heroes 
                Team</h3>
                <p>Une plongée épique dans l’univers des vikings et des
chevaliers. Vous retrouverez l’ambiance du célèbre
jeu For Honor du studio français Ubisoft. Une
attraction riche en sensations fortes déconseillée
aux âmes sensibles.</p>
                <ul>
                    <li class="icon1"><span><i>Taille</i>
                            1m30 min</span></li>
                    <li class="icon2"><span><i>Avis</i>
                            4.5/5</span></li>
                    <li class="icon3"><span><i>XP</i>
                            1200</span></li>
                </ul>
            </div>
        </div>
        <div class="contain img2">
            <img style="width: 62%; height: auto;" src="{{ asset('img/logo_heroes.png') }}">
            <div class="overlay">
                <h3>Heroes team</h3>
                <p>L’attraction ultime de notre parc, un univers
entièrement consacré aux super héros Marvel.
Embarquez dans une navette qui vous fera
voyager dans l’univers des gardiens de la
galaxy, Spider-Man, Thor, Iron Man et plus
encore. Une aventure unique dont vous serez
le héros durant tout le voyage.</p>
                <ul>
                    <li class="icon1"><span><i>Taille</i>
                            Tous</span></li>
                    <li class="icon2"><span><i>Avis</i>
                            6/5</span></li>
                    <li class="icon3"><span><i>XP</i>
                            2500</span></li>
                </ul>
            </div>
        </div>
        <div class="contain img7">
            <img style="width: 62%; height: auto;" src="{{ asset('img/logo_battle_kart.png') }}">
            <div class="overlay">
                <h3>BattleKart</h3>
                <p>BattleKart, c’est la quintessence du jeu vidéo, de
la réalité augmentée et du karting électrique, ré-
unis pour vous procurer des sensations inédites
entre amis, en familles ou entre collègues ! C’est avant tout l’un des plus grands écrans de cinéma
au monde (deux pistes de 2.000 m2)  sur lequel nous projetons différents circuits et modes de jeu,
et sur lequel vous évoluez réellement plein gaz à bord d’un kart électrique, tout en interagissant
avec le décor, les bonus, et les autres pilotes.</p>
                <ul>
                    <li class="icon1"><span><i>Taille</i>
                            Tous</span></li>
                    <li class="icon2"><span><i>Avis</i>
                            4/5</span></li>
                    <li class="icon3"><span><i>XP</i>
                            1000</span></li>
                </ul>
            </div>
        </div>
        <div class="contain img3">
            <img style="width: 65%; height: auto;" src="{{ asset('img/logo_contagion_vr.png') }}">
            <div class="overlay">
                <h3>Contagion VR</h3>
                <p>Vous dirigez une équipe de soldats en charge
de découvrir ce qui est arrivé aux scientifiques
du laboratoire minier Omega Centuri B.
Une fois à bord, vous apprenez qu’un terrible
virus a fait muter tout l’équipage, et que la
station spatiale est maintenant infestée par d’horribles zombies !
Vous devez donc évacuer votre équipe en tentant de survivre le plus longtemps possible.</p>
                <ul>
                    <li class="icon1"><span><i>Taille</i>
                            1m30 min</span></li>
                    <li class="icon2"><span><i>Avis</i>
                            4.8/5</span></li>
                    <li class="icon3"><span><i>XP</i>
                            1500</span></li>
                </ul>
            </div>
        </div>
        <div class="contain img8">
            <img style="width: 65%; height: auto;" src="{{ asset('img/logo_champions_league.png') }}">
            <div class="overlay">
                <h3>Champions League</h3>
                <p>Dans ce jeu vous bénéficiez de la toute dernière
technologie hologramme pour affronter les
légendes du football en partenariat avec Konami
et la licence de simulation de football PES. Venez affronter sur le terrain Maradona, Pelé, Zidane,
Messi et bien d’autres.</p>
                <ul>
                    <li class="icon1"><span><i>Taille</i>
                            Tous</span></li>
                    <li class="icon2"><span><i>Avis</i>
                            2/5</span></li>
                    <li class="icon3"><span><i>XP</i>
                            1300</span></li>
                </ul>
            </div>
        </div>
        <div class="contain img9">
            <img style="width: 65%; height: auto;" src="{{ asset('img/logo_champions_league_survivor.png') }}">
            <div class="overlay">
                <h3>Champions League
                Survivor</h3>
                <p>Dans cette version alternative du jeu
Champions League, les joueurs de foot
sont remplacès par des vampires, des loups
garous et des zombies. Vous devrez donc marquer des buts sans vous faire dévorer par
d’horribles créatures.</p>
                <ul>
                    <li class="icon1"><span><i>Taille</i>
                            1m10 min</span></li>
                    <li class="icon2"><span><i>Avis</i>
                            5/5</span></li>
                    <li class="icon3"><span><i>XP</i>
                            1400</span></li>
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}