{% extends 'base.html.twig' %}

{% block title %}Mon compte - Edit{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/log.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<main>
    <div class="container">
        {% if user.id == app.user.id %}
        <h4>Mon Compte - Edit</h4>
        {{ form_start(formUser) }}

        <label for="">Pseudo :</label>
        {{ form_widget(formUser.username) }}

        <label for="">Prénom :</label>
        {{ form_widget(formUser.name) }}

        <label for="">Nom :</label>
        {{ form_widget(formUser.surname) }}

        <label for="">Ville :</label>
        {{ form_widget(formUser.city) }}

        <label for="">Email</label>
        {{ form_widget(formUser.email) }}

        <input type="submit" value="Valider">
        {{ form_end(formUser) }}
        {% else %}
        <p style="text-align: center;">Vous n'êtes pas autorisé à accécder à cette page</p>
        {% endif %}
</main>
{% endblock %}