{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

    {% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/log.css') }}" rel="stylesheet" />
    {% endblock %}

{% block body %}
<main>
<div class="container">
<h4>Mon Compte</h4>
<div class="profile"><img src="{{ app.user.avatar }}"></div>
<p>Pseudo : {{ app.user.username }}</p>
<p>Email : {{ app.user.email }}</p>
<p>Prénom : {{ app.user.name }}</p>
<p>Nom de famille : {{ app.user.surname }}</p>
<p>Ville : {{ app.user.city }}</p>
<p>XP : {% if app.user.xp == NULL %} 0 {% else %}{% endif %}</p>
<a href="" class="edit">Editer</a>
</div>
</main>
{% endblock %}