{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

    {% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/log.css') }}" rel="stylesheet" />
    {% endblock %}

{% block body %}
<main>
<div class="container">
<h4>Connexion</h4>
            <form action="{{ path('security_login') }}" method="post">
                <div class="form-group">
                    <label id="email">Email :</label>
                    <input type="text" required name="_username">
                </div>
                <div class="form-group">
                    <label id="mdp">Mot de passe :</label>
                    <input type="password" required name="_password">
                </div>
                <div class="form-group">
                    <input type="submit" value="Valider">
                </div>
            </form>
</div>           
</main>
{% endblock %}