{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

    {% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/log.css') }}" rel="stylesheet" />
    {% endblock %}

{% block body %}
<main>
<div class="container">
<h4>Inscription</h4>
            {{form_start(form)}}
            <label id="">Pseudo</label>
            {{ form_widget(form.username) }}
            <label id="">Email</label>
            {{ form_widget(form.email) }}
            <label id="">Nom</label>
            {{ form_widget(form.name) }}
            <label id="">Prénom</label>
            {{ form_widget(form.surname) }}
            <label id="">Ville</label>
            {{ form_widget(form.city) }}
            <label id="">Mot de passe</label>
            {{ form_widget(form.password) }}
            <label id="">Confirmer mot de passe</label>
            {{ form_widget(form.confirm_password) }}
            <input type="submit" value="M'inscrire">
            {{form_end(form)}}
</div>
</main>
{% endblock %}