main {
    background-color: white !important;
    margin-top: 8em;
    min-height: 40vh;
}

nav {
    background-color: rgba(28, 31, 61, 1) !important;
}

.container {
display: flex;
justify-content: space-around;
padding: 2em;
}

.box_left {
    width: 50%;
    height: 400px;
    margin: 0 1em;
    padding: 1em;
    background-color: rgba(90, 38, 109, 0.1);
}

.box_left h2 {
    padding: 0;
    margin: 0;
    font-size: 2em;
    text-transform: uppercase;
    color: var(--color-primary);
}

.box_left hr {
    border: 2px solid var(--color-yellow);
}

.box_left p {
    white-space: pre-line;
    font-size: 1.2em;
}

.box_right {
    width: 50%;
    height: 400px;
    margin: 0 1em;
    background: url(../img/fond_header.jpg);
    background-size: cover;
}