main {
    background-color: white !important;
    margin-top: 8em;
}

nav {
    background-color: rgba(28, 31, 61, 1) !important;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contain {
    position: relative;
    min-width: 400px;
    min-height: 400px;
    width: 33.33%;
    height: auto;
}

.contain:hover .overlay {
    height: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.overlay h3 {
    font-size: 2.5em;
    font-weight: 900;
    margin: 0.8em 0;
    padding: 0;
    white-space: pre-line;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.overlay p {
    font-size: 0.8em;
    font-weight: 400;
    padding: 1em;
    color: white;
    text-align: center;
}

.overlay ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 2.5em 0;
    height: 100%;
    list-style: none;
}

.overlay li {
    display: inline-block;
    position: relative;
    padding-left: 3em;
    height: 100%;
}

.overlay i {
    color:var(--color-yellow);
}

.overlay li.icon1 {
    background: url(../img/icons/size.png);
    background-size: 42px auto;
    background-repeat: no-repeat;
}

.overlay li.icon2 {
    background: url(../img/icons/star.png);
    background-size: 42px auto;
    background-repeat: no-repeat;
}

.overlay li.icon3 {
    background: url(../img/icons/token.png);
    background-size: 42px auto;
    background-repeat: no-repeat;
}

.overlay li span {
    white-space: pre-line;
    padding-right: 2em;
    color: white;
    font-size: 1.2em;
}


.contain img {
    display: block;
    margin: 1em auto 0 auto;
    top: 50%;
    left: 50%;
}

.contain.img1 {
    background: url('../img/fond_game_center.jpg');
    background-size: cover;
}

.contain.img2 {
    background: url('../img/fond_heroes_team.jpg');
    background-size: cover;
}

.contain.img3 {
    background: url('../img/fond_contagion_vr.jpg');
    background-size: cover;
}

.contain.img4 {
    background: url('../img/fond_fighter_hard.jpg');
    background-size: cover;
}

.contain.img5 {
    background: url('../img/fond_fighter_league.jpg');
    background-size: cover;
}

.contain.img6 {
    background: url('../img/fond_awsome_heroes.jpg');
    background-size: cover;
}

.contain.img7 {
    background: url('../img/run_kart.jpg');
    background-size: cover;
}

.contain.img8 {
    background: url('../img/fond_champions.jpg');
    background-size: cover;
}

.contain.img9 {
    background: url('../img/stade.jpg');
    background-size: cover;
}