main {
    background-color: white!important;
    margin-top: 8em;
    display: flex;
    justify-content: center;
    padding: 2em;
}

nav {
    background-color: rgba(28, 31, 61, 1)!important;
}

#show_calendar {
    width: 70%;
}

#current_month {
    width: 100%;
}

.battlements {
    width: 30%;
    padding: 1em;
}

.battlements p {
    font-size: 1.2em;
    white-space: pre-line;
}

hr.sep {
    border: solid 2px var(--color-yellow);
}

table {
    width: 100%;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    font-family: 'Ubuntu';
    /*border-collapse: collapse;*/
    border-spacing: 0;
    background-color: var(--color-secondary);
}

th,
td {
    border: 1px solid white;
    box-sizing: border-box;
}

th {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    padding: 10px 0;
    color: white;
    background-color: var(--color-primary);
    letter-spacing: 1px;
}

td {
    width: 14.285%;
    transition: all 0.3s;
    font-size: 14px;
    color: black;
    font-weight: 400;
    font-size: 14px;
    padding: 1.5% 1.5% 5%;
    vertical-align: initial;
    padding: 1.5% 0;
    height: 75px;
}

.day:hover {
    background-color: rgba(90, 38, 109, 0.5);;
    cursor: pointer;
}

span.number {
    margin-left: 10%
}

select {
    width: 150px;
    background-color: rgba(90, 38, 109, 0.5);
    padding: 12px 20px;
    border: none;
    margin: 8px 0;
    display: inline-block;
    border-radius: 50px;
    box-sizing: border-box;
}

#current_day {
    background-color: rgba(90, 38, 109, 1);
}

#nocturne {
    background-color: black;;
}