header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/fond_header.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header h1 {
    text-align: center;
    line-height: 1.2em;
    white-space: pre-line;
    color: white;
    font-size: 3.5em;
}

section#attractions {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 600px;
}

section#attractions .box {
    width: 33.33%;
    height: 600px;
}

section#attractions .att_img {
    display: block;
    margin: 0 auto;
    margin-top: 1em;
}

section#attractions .cover {
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,282c53+88,282c53+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(40, 44, 83, 0.88) 88%, rgba(40, 44, 83, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(40, 44, 83, 0.88) 88%, rgba(40, 44, 83, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(40, 44, 83, 0.88) 88%, rgba(40, 44, 83, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#282c53', GradientType=0);
    /* IE6-9 */
}

section#attractions .img1 {
    background: url('../img/fond_game_center.jpg');
    background-size: cover;
}

section#attractions .img2 {
    background: url('../img/fond_heroes_team.jpg');
    background-size: cover;
}

section#attractions .img3 {
    background: url('../img/fond_contagion_vr.jpg');
    background-size: cover;
}

section#attractions h3 {
    font-size: 2.5em;
    font-weight: 900;
    margin: 0.5em 0;
    padding: 0;
    white-space: pre-line;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

section#attractions p {
    font-size: 0.8em;
    font-weight: 400;
    padding: 1em;
    color: white;
    text-align: center;
}

section#attractions .show {
    display: flex;
    justify-content: center;
}

section#attractions .show a {
    background-color: var(--color-purple1);
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 1.2em;
    padding: 18px 32px;

}

section#attractions .show a:hover {
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.20);
}

.showmore {
    display: flex;
    justify-content: center;
}

.showmore a {
    margin: 2em 0;
    background-color: var(--color-yellow);
    text-decoration: none;
    color: var(--color-purple1);
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 1.2em;
    padding: 20px 36px;
}

.showmore a:hover {
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

section#middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#282c53+0,5a266d+100 */
    background: rgb(40, 44, 83);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(40, 44, 83, 1) 0%, rgba(90, 38, 109, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(40, 44, 83, 1) 0%, rgba(90, 38, 109, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(40, 44, 83, 1) 0%, rgba(90, 38, 109, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#282c53', endColorstr='#5a266d', GradientType=0);
    /* IE6-9 */
    height: 80vh;
}

section#middle h1 {
    line-height: 1.2em;
    white-space: pre-line;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
}

section#middle p {
    color: white;
    text-align: center;
    font-weight: 300;
    padding: 0 20%;
    font-size: 1.2em;
}

section#values {
    height: 250px;
    width: 100%;
    background-color: black;
}


section#values .container {
    display: flex;
    justify-content: space-around;
}

section#values .contain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    width: 250px;
    color: var(--color-yellow);
    font-size: 2.5em;
    text-align: center;
    font-family: Commando;
}

section#values .contain span {
    font-size: 1.8em;
}

@media screen and (min-width: 1100px) and (max-width: 1279px) {
  
}

@media screen and (min-width: 768px) and (max-width: 1099px) {
    header h1 {
        font-size: 2.8em;
    }

    section#middle h1 {
        font-size: 2.8em;
    }

    section#values .contain {
        width: 220px;
        font-size: 2em;
    }
}

@media screen and (max-width: 767px) {
    header h1 {
        font-size: 2em;
    }

    section#attractions {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    
    section#attractions .box {
        width: 100%;
        height: auto;
        padding-bottom: 2em;
    }

    section#attractions .cover {
        height: 100%;
        background: none;
    }

    section#middle h1 {
        font-size: 2em;
    }
    
    section#middle p {
        font-size: 1em;
    }

    section#values {
        height: auto;
        width: 100%;
        background-color: black;
    }
    
    section#values .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    section#values .contain {
        height: 150px;
        width: 250px;
        font-size: 2em;
    }

    .showmore a {
        margin: 2em 0;
        background-color: var(--color-yellow);
        text-decoration: none;
        color: var(--color-purple1);
        text-transform: uppercase;
        border-radius: 50px;
        font-size: 1em;
        padding: 20px 28px;
    }
    
}