main {
    background-color: white !important;
    margin-top: 8em;
    display: flex;
    justify-content: center;
    min-height: 40vh;
}

nav {
    background-color: rgba(28, 31, 61, 1) !important;
}

.profile {
    float: right;
}

.profile img {
    height: 70px;
    width: auto;
}

.edit {
    float: right;
    background-color: var(--color-primary);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    text-decoration: none;
    border-radius: 50px;
}

.edit:hover {
    background-color: rgba(28, 31, 61, 0.6);
}

.container {
    margin: 2em 0;
    padding: 1em;
    background: rgba(129, 135, 201, 0.3);
    width: 40%;
    height: auto;
    border-radius: 10px;
}

.container h4 {
    font-size: 1.5em;
    padding: 0;
    margin: 0.2em 0 1em 0;
}

input[type=text],
select {
    width: 100%;
    background-color: rgba(90, 38, 109, 0.5);
    padding: 12px 20px;
    border: none;
    margin: 8px 0;
    display: inline-block;
    border-radius: 50px;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    background-color: rgba(90, 38, 109, 0.5);
    padding: 12px 20px;
    border: none;
    margin: 8px 0;
    display: inline-block;
    border-radius: 50px;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    background-color: rgba(90, 38, 109, 0.5);
    padding: 12px 20px;
    border: none;
    margin: 8px 0;
    display: inline-block;
    border-radius: 50px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: var(--color-primary);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(28, 31, 61, 0.6);
}

textarea {
    width: 100%;
    height: 100px;
    background-color: rgba(90, 38, 109, 0.5);
    padding: 12px 20px;
    border: none;
    margin: 8px 0;
    display: inline-block;
    border-radius: 10px;
    box-sizing: border-box;
}

.success {
    color: green;
    padding-bottom: 1em;
}

.title_edit {
    color: var(--color-blue1);
    font-size: 1.1em;
}

.ticket {
    text-decoration: none;
    color: var(--color-purple1);
}