:root {
    --color-primary: #1C1F3D;
    --color-secondary: #CDC6C8;
    --color-yellow: #EFC732;
    --color-purple1: #5A266D;
    --color-blue2: #282C53;
}

@font-face {
    font-family: Commando;
    src: url("../fonts/commando.ttf");
}

body {
    padding: 0;
    margin: 0;
    max-width: 1920px;
    font-family: 'Josefin Sans';
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    max-width: 1440px;
    background-color: var(--color-blue2);
}

nav {
    position: fixed;
    background-color: rgba(28, 31, 61, 0.2);
    top: 0;
    z-index: 100;
    height: 8em;
    width: 100%;
}

.logo {
    float: left;
    margin: 2em 0 0 0.5em;
    width: auto;
    height: 120px;
}

.avatar {
    float: left;
    line-height: 8.2em;
    margin-left: 1.8em;
}

.avatar a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 1em;
    font-weight: 600;
    margin-left: 0.5em;
}

.avatar img {
    width: auto;
    vertical-align: middle;
    height: 50px;
}

#menu,
#menu ul {
    float: right;
    padding: 0;
    margin: 0;
    margin-right: 1.8em;
    line-height: 8em;
    list-style: none;
}

#menu li {
    display: inline-block;
    position: relative;
    height: 100%;
}

#menu ul li {
    display: inherit;
}

#menu ul {
    position: absolute;
    z-index: 1000;
    max-height: 0;
    line-height: 50px;
    left: 0;
    right: 0;
    overflow: hidden;
    margin-left: 1.8em;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    top: 80px;
}

#menu li:hover ul {
    max-height: 15em;
}

#menu li {
    background-color: none;
}

#menu li li {
    text-align: center;
    background-color: var(--color-primary);
}

#menu li li a {
    font-size: 0.8em;
}

#menu a {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    padding: 8px 22px;
    color: white;
}

#menu ul a {
    padding: 8px 0;
}

#menu li a:hover {
    color: var(--color-yellow);
}

#menu a.ticket {
    padding: 20px 30px;
    background-color: var(--color-purple1);
    color: white;
    border: 2px solid var(--color-purple1);
    border-radius: 50px;
}

#lang,
#lang ul {
    float: right;
    padding: 0;
    margin: 0;
    line-height: 10.5em;
    list-style: none;
}

#lang li {
    display: inline-block;
    position: relative;
    height: 100%;
}

#lang ul li {
    display: inherit;
}

#lang ul {
    position: absolute;
    z-index: 1000;
    max-height: 0;
    line-height: 30px;
    left: 0;
    right: 0;
    overflow: hidden;
    -webkit-transition: .8s all .3s;
    transition: .8s all .3s;
    top: 100px;
}

#lang li:hover ul {
    max-height: 15em;
}

#lang li {
    background-color: none;
}

#lang li li {
    text-align: center;
}

#lang li a:hover {
    color: var(--color-yellow);
}

footer {
    display: flex;
    justify-content: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5a266d+0,1c1f3d+48,5a266d+100 */
    background: rgb(90, 38, 109);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(90, 38, 109, 1) 0%, rgba(28, 31, 61, 1) 48%, rgba(90, 38, 109, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(90, 38, 109, 1) 0%, rgba(28, 31, 61, 1) 48%, rgba(90, 38, 109, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(90, 38, 109, 1) 0%, rgba(28, 31, 61, 1) 48%, rgba(90, 38, 109, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a266d', endColorstr='#5a266d', GradientType=1);
    /* IE6-9 */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 10%;
    color: white;
    height: 360px;
}

footer .logo_middle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    height: auto;
}

footer .logo_middle img {
    height: 200px;
    width: auto;
}

.right_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 33.33%;
    font-size: 1.1em;
    font-weight: 600;
}

.right_footer ul {
    list-style: none;
    border-left: 3px solid var(--color-yellow);
    line-height: 1.7em;
}

.right_footer a {
    text-decoration: none;
    color: white;
}

.right_footer a:hover {
    color: var(--color-yellow);
}

.left_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 33.33%;
}

.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.social a img {
    width: 48px;
    height: 48px;
}

p.number {
    font-size: 1.8em;
}

hr.footer {
    border: solid 2px var(--color-yellow);
    width: 70%;
}

.hour {
    margin-top: 0.5em;
    font-size: 1.2em;
    white-space: pre-line;
    text-align: center;
}



#hamburger-button {
    position: fixed;
    display: none;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 2.5em;
    padding: 0;
    margin: 2% 2% 0 0;
}

#hamburger-button img {
    height: 48px;
    width: auto;
}

#hamburger-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

#hamburger-sidebar {
    display: none;
    position: fixed;
    width: 50%;
    z-index: 20;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

#hamburger-sidebar li {
    display: block;
}

#hamburger-sidebar-body {
    padding: 0;
}


@media screen and (min-width: 1100px) and (max-width: 1279px) {
    .logo {
        display: none;
    }

    .avatar img {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1099px) {

    .logo {
        float: none;
        margin: 2em 0 0 2em;
    }

    nav {
        position: fixed;
        background-color: none;
        top: 0;
        z-index: 100;
        height: auto;
        width: 100%;
    }

    .avatar {
        float: none;
        line-height: 5em;
        margin-left: 1em;
    }

    #menu a.ticket {
        padding: 0;
        background-color: rgba(0, 0, 0, 0);
        color: var(--color-purple1);
        border: none;
        border-radius: 0;
        margin-left: 1.2em;
    }

    #menu,
    #menu ul {
        float: none;
        padding: 0;
        margin: 0;
        margin-right: 0;
        line-height: 3em;
        list-style: none;
    }

    #menu li {
        display: block;
        position: relative;
        height: 100%;
    }

    #menu ul li {
        display: inherit;
    }

    #menu ul {
        position: absolute;
        z-index: 1000;
        max-height: 0;
        line-height: 40px;
        top: 40px;
    }

    #lang,
    #lang ul {
        float: none;
        padding: 0;
        margin: 0 0 0 1.2em;
        line-height: 0;
        width: 100%;
        list-style: none;
    }

    #lang li {
        display: inline-block;
        position: relative;
    }

    #lang ul li {
        display: inherit;
    }

    #lang ul {
        line-height: 0px;
        margin: 0;
        top: 40px;
    }

    #hamburger,
    #hamburger-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    #hamburger-content {
        display: none;
    }

    #hamburger-button,
    #hamburger-sidebar,
    .hamburger-activated #hamburger-overlay {
        display: block;
    }

    .hamburger-activated #hamburger-sidebar {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    footer .logo_middle {
        display: none;
    }

    .right_footer {
        width: 45%;
    }
    
    .left_footer {
        width: 45%;
    }
}

@media screen and (max-width: 767px) {
    .logo {
        float: none;
        margin: 2em 0 0 2em;
    }

    nav {
        position: fixed;
        background-color: none;
        top: 0;
        z-index: 100;
        height: auto;
        width: 100%;
    }

    .avatar {
        float: none;
        line-height: 5em;
        margin-left: 1em;
    }

    #menu a.ticket {
        padding: 0;
        background-color: rgba(0, 0, 0, 0);
        color: var(--color-purple1);
        border: none;
        border-radius: 0;
        margin-left: 1.2em;
    }

    #menu,
    #menu ul {
        float: none;
        padding: 0;
        margin: 0;
        margin-right: 0;
        line-height: 3em;
        list-style: none;
    }

    #menu li {
        display: block;
        position: relative;
        height: 100%;
    }

    #menu ul li {
        display: inherit;
    }

    #menu ul {
        position: absolute;
        z-index: 1000;
        max-height: 0;
        line-height: 40px;
        top: 40px;
    }

    #lang,
    #lang ul {
        float: none;
        padding: 0;
        margin: 0 0 0 1.2em;
        line-height: 0;
        width: 100%;
        list-style: none;
    }

    #lang li {
        display: inline-block;
        position: relative;
    }

    #lang ul li {
        display: inherit;
    }

    #lang ul {
        line-height: 0px;
        margin: 0;
        top: 40px;
    }

    #hamburger,
    #hamburger-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    #hamburger-content {
        display: none;
    }

    #hamburger-button,
    #hamburger-sidebar,
    .hamburger-activated #hamburger-overlay {
        display: block;
    }

    .hamburger-activated #hamburger-sidebar {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    #hamburger-sidebar {
        width: 80%;
    }


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    height: auto;
}

footer .logo_middle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.right_footer {
    width: 80%;
    margin: 2em 0;
}

.left_footer {
    width: 80%;
    margin: 2em 0;
}

}