main {
    background-color: white !important;
    margin-top: 8em;
    min-height: 40vh;
}

nav {
    background-color: rgba(28, 31, 61, 1) !important;
}

.container {
padding: 2em;
}

.container h2 {
    color: var(--color-primary);
    font-size: 2em;
    text-transform: uppercase;
}

.container h3 {
    color: var(--color-yellow);
    font-size: 1.5em;
    text-transform: uppercase;
}