main {
    background-color: white !important;
    margin-top: 8em;
    display: flex;
    justify-content: center;
    min-height: 40vh;
    padding: 2em 0;
}

nav {
    background-color: rgba(28, 31, 61, 1) !important;
}

.legends {
    float: left;
    width: 360px;
    padding-left: 5%;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container input:checked~.checkmark {
    background-color: var(--color-primary);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.plan {
    position: relative;
    background: url('../img/plan/back.jpg');
    margin-right: 0;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 700px;
    width: 100%;
}

.cursor_purple {
    position: absolute;
    background: url('../img/plan/icon-violette.png');
    background-size: 36px auto;
    background-repeat: no-repeat;
    height: 56px;
    width: 56px;
}

.cursor_blue {
    position: absolute;
    background: url('../img/plan/icon-bleu.png');
    background-size: 36px auto;
    background-repeat: no-repeat;
    height: 56px;
    width: 56px;
}

.cursor_yellow {
    position: absolute;
    background: url('../img/plan/icon-jaune.png');
    background-size: 36px auto;
    background-repeat: no-repeat;
    height: 56px;
    width: 56px;
}

.cursor_pink {
    position: absolute;
    background: url('../img/plan/icon-rose.png');
    background-size: 36px auto;
    background-repeat: no-repeat;
    height: 56px;
    width: 56px;
}

.cursor_att {
    position: absolute;
    background-size: 120px auto;
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
}

.title_size {
    padding: 0;
    margin:3em 0 0 0;
    font-size: 1em;
}
select {
    width: 80px;
    background-color: rgba(90,38,109, 0.5);
    padding: 14px 20px;
    border: none;
    margin: 8px 0;
    display: inline-block;
    border-radius: 50px;
    box-sizing: border-box;
}

a.att {
    float: right;
    background-color: var(--color-primary);
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 8px 0;
    border: none;
    border-radius: 50px;
}

@media screen and (min-width: 992px) and (max-width: 1279px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {
  
}

@media screen and (max-width: 767px) {
   
}