main {
    background-color: white !important;
    margin-top: 8em;
    min-height: 40vh;
}

nav {
    background-color: rgba(28, 31, 61, 1) !important;
}

.container {
display: flex;
justify-content: space-around;
padding: 2em;
}

.box_left {
    width: 50%;
    height: auto;
    margin: 0 1em;
    padding: 1em;
    background-color: rgba(90, 38, 109, 0.1);
}

.box_left h2 {
    padding: 0;
    margin: 0;
    font-size: 2em;
    text-transform: uppercase;
    color: var(--color-primary);
}

.bloc {
    border-bottom: 1px solid var(--color-purple1);
    margin-bottom: 3em;
}

.bloc img {
    float:left;
    padding: 0 0.5em 0.5em 0;
}

.bloc span {
    color: var(--color-purple1);
    font-style: italic;
}

.bloc h3 {
    font-size: 1.5em;
    color: var(--color-primary);
    margin: 0;
    padding: 0;
}

.box_left hr.under_title {
    border: 2px solid var(--color-yellow);
    margin-bottom: 1em;
}

.box_right {
    width: 50%;
    height: 400px;
    margin: 0 1em;
    background: url(../img/fond_parc.jpg);
    background-size: cover;
}