main {
    background-color: white !important;
    margin-top: 10em;
}

nav {
    background-color: rgba(28, 31, 61, 1) !important;
}

.container_ticket {
    display: flex;
    justify-content: space-around;*
}

.box_ticket {
    background-color: var(--color-purple1);
    margin: 4em 2%;
    max-width: 400px;
    width: 100%;
    height: 340px;
}

.box_background {
    display: block;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 2em;
    width: 90%;
    height: 350px;
}

.box_title {
    margin-top: -2em;
    white-space: pre-line;
    color: white;
    font-size: 2em;
    font-weight: 800;
    padding: 0.8em 0 0 1em;
}

.box_ticket_gd {
    background-color: var(--color-purple1);
    margin: 4em 2%;
    max-width: 880px;
    width: 100%;
    height: 340px;
}

.box_background_gd {
    display: block;
    margin: 0 auto;
    background-color: white;
    margin-bottom: 2em;
    width: 95%;
    height: 350px;
}

.box_title_gd {
    background: url(../img/ticket/ticket_calcul.png);
    background-size: cover;
    height: 118px;
    margin-top: -2em;
    white-space: pre-line;
    color: white;
    font-size: 2em;
    font-weight: 800;
    padding: 0.8em 0 0 1em;
}

.baby {
    background: url(../img/ticket/ticket_baby.png);
    background-size: cover;
    height: 118px;
}

.child {
    background: url(../img/ticket/ticket_child.png);
    background-size: cover;
    height: 118px;
}

.teen {
    background: url(../img/ticket/ticket_teen.png);
    background-size: cover;
    height: 118px;
}

.adult {
    background: url(../img/ticket/ticket_adult.png);
    background-size: cover;
    height: 118px;
}

.position {
    display: block;
    margin: -3.5em auto 0 auto;
}

.price {
    margin: 25% 0 0 0;
    text-align: center;
    font-size: 3em;
    font-weight: 800;
}

.description {
    text-align: center;
    font-size: 1em;
    font-weight: 400;
}

span.tiny {
    font-size: 0.7em;
}

.calcul {
    background-color: var(--color-primary);
    border: none;
    color: var(--color-yellow);
    height: 35px;
    width: 35px;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

table {
    float: left;
    padding: 1em 0;
}

tr, th {
    padding: 1em 0;
}

td {
    padding-left: 1em;
}

.result {
    float: left;
    padding: 2em 0 0 2em;
    font-size: 1.1em;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
   
}

@media screen and (min-width: 768px) and (max-width: 991px) {
}

@media screen and (max-width: 767px) {
    .container_ticket {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
}