{% extends 'base.html.twig' %}

{% block title %}Conditions générales de ventes{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/mentions.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<main>
    <div class="container">
        <h2>Conditions générales de ventes</h2>
        <h3>Informations relatives à l'identité</h3>
        <p>Vivamus ullamcorper sapien nisl, eget ultricies sem condimentum vel. Phasellus ornare imperdiet odio, ac blandit lorem tincidunt quis. Aenean id eleifend eros. Fusce pulvinar nisl id consectetur aliquam. Morbi rutrum ex vehicula lacus cursus, ut consequat enim sagittis. Aenean quis purus non purus pretium dignissim. Vivamus commodo, felis et porttitor gravida, libero diam pulvinar leo, at finibus massa tortor eu turpis. Aenean quis porttitor lorem. Praesent at tincidunt turpis. Nulla pulvinar elit eget dolor venenatis, non accumsan neque vehicula. Curabitur ultricies massa id sollicitudin faucibus.</p>

        <h3>Coordonnées de l'entreprise</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate eros id tortor hendrerit, ac laoreet dolor consequat. Nulla efficitur augue ac urna porta, at faucibus turpis venenatis. Vestibulum faucibus orci sit amet ullamcorper sodales. Nam augue turpis, consequat ut diam sit amet, iaculis pellentesque nisl. In ut dui est. Suspendisse malesuada vehicula ante sed volutpat. Quisque euismod commodo placerat.

        <h3>Caractéristiques des biens</h3>
        <p>Vivamus ullamcorper sapien nisl, eget ultricies sem condimentum vel. Phasellus ornare imperdiet odio, ac blandit lorem tincidunt quis. Aenean id eleifend eros. Fusce pulvinar nisl id consectetur aliquam. Morbi rutrum ex vehicula lacus cursus, ut consequat enim sagittis. Aenean quis purus non purus pretium dignissim. Vivamus commodo, felis et porttitor gravida, libero diam pulvinar leo, at finibus massa tortor eu turpis. Aenean quis porttitor lorem. Praesent at tincidunt turpis. Nulla pulvinar elit eget dolor venenatis, non accumsan neque vehicula. Curabitur ultricies massa id sollicitudin faucibus.</p>


        <h3>Le prix des biens et services</h3>
        <p>Vivamus ullamcorper sapien nisl, eget ultricies sem condimentum vel. Phasellus ornare imperdiet odio, ac blandit lorem tincidunt quis. Aenean id eleifend eros. Fusce pulvinar nisl id consectetur aliquam. Morbi rutrum ex vehicula lacus cursus, ut consequat enim sagittis. Aenean quis purus non purus pretium dignissim. Vivamus commodo, felis et porttitor gravida, libero diam pulvinar leo, at finibus massa tortor eu turpis. Aenean quis porttitor lorem. Praesent at tincidunt turpis. Nulla pulvinar elit eget dolor venenatis, non accumsan neque vehicula. Curabitur ultricies massa id sollicitudin faucibus.</p>


        <h3>Droit de rétractation</h3>
        <p>Vivamus ullamcorper sapien nisl, eget ultricies sem condimentum vel. Phasellus ornare imperdiet odio, ac blandit lorem tincidunt quis. Aenean id eleifend eros. Fusce pulvinar nisl id consectetur aliquam. Morbi rutrum ex vehicula lacus cursus, ut consequat enim sagittis. Aenean quis purus non purus pretium dignissim. Vivamus commodo, felis et porttitor gravida, libero diam pulvinar leo, at finibus massa tortor eu turpis. Aenean quis porttitor lorem. Praesent at tincidunt turpis. Nulla pulvinar elit eget dolor venenatis, non accumsan neque vehicula. Curabitur ultricies massa id sollicitudin faucibus.</p>

    </div>
</main>
{% endblock %}