{% extends 'base.html.twig' %}

{% block title %}Ticket - Edit{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/log.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<main>

    {% if not app.user %}
    {% else %}
    {% if app.user.role == 1 %}
    <div class="container">
        <h4>Ticket - Edit</h4>
        {{ form_start(formTicket) }}

        <label for="">Nom :</label>
        {{ form_widget(formTicket.name) }}

        <label for="">Description :</label>
        {{ form_widget(formTicket.description) }}

        <label for="">Prix :</label>
        {{ form_widget(formTicket.price) }}

        <input type="submit" value="Valider">
        {{ form_end(formTicket) }}
    {% else %}
    {% endif %}
    {% endif %}
</main>
{% endblock %}