{% extends 'base.html.twig' %}

{% block title %}Tarifs et Billetterie{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/ticket.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<main>
    <div class="container_ticket">

    {% for tick in ticket %}
        {% if tick.id == 1 %}
        <div class="box_ticket">
            <div class="box_background">
                <div class="box_title baby">{{ tick.name }}</div>
                <div class="price">{% if tick.price == 0 %}Gratuit{% else %}{{tick.price}}{% endif %}</div>
                <div class="description">{{ tick.description }}</div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    
    {% for tick in ticket %}
        {% if tick.id == 2 %}
        <div class="box_ticket">
            <div class="box_background">
                <div class="box_title child">{{ tick.name }}</div>
                <div class="price">{% if tick.price == 0 %}Gratuit{% else %}{{tick.price}}{% endif %}€</div>
                <div class="description">{{ tick.description }}</div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

    {% for tick in ticket %}
        {% if tick.id == 3 %}
        <div class="box_ticket">
            <div class="box_background">
                <div class="box_title teen">{{ tick.name }}</div>
                <div class="price">{% if tick.price == 0 %}Gratuit{% else %}{{tick.price}}{% endif %}€</div>
                <div class="description">{{ tick.description }}</div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>

    <div class="container_ticket">

    {% for tick in ticket %}
        {% if tick.id == 4 %}
        <div class="box_ticket">
            <div class="box_background">
                <div class="box_title adult">{{ tick.name }}</div>
                <div class="price">{% if tick.price == 0 %}Gratuit{% else %}{{tick.price}}{% endif %}€</div>
                <div class="description">{{ tick.description }}</div>
            </div>
        </div>
        {% endif %}
    {% endfor %}

        <div class="box_ticket_gd">
            <div class="box_background_gd">
                <div class="box_title_gd">Ticket
                    Calculateur
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Ticket</th>
                            <th>Nombre de places</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{% for tick in ticket %}{% if tick.id == 4 %}{{ tick.name }}{% endif %}{% endfor %}</td>
                            <td>
                                <button class="calcul" type="button" add-person="fourth_tarif"
                                    data-add-person-action="decrement">-</button>
                                <button class="calcul" type="button" add-person="fourth_tarif"
                                    data-add-person-action="increment">+</button>
                                <span data-display="fourth_tarif"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>{% for tick in ticket %}{% if tick.id == 3 %}{{ tick.name }}{% endif %}{% endfor %}</td>
                            <td>
                                <button class="calcul" type="button" add-person="third_tarif"
                                    data-add-person-action="decrement">-</button>
                                <button class="calcul" type="button"  add-person="third_tarif"
                                    data-add-person-action="increment">+</button>
                                <span data-display="third_tarif"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>{% for tick in ticket %}{% if tick.id == 2 %}{{ tick.name }}{% endif %}{% endfor %}</td>
                            <td>
                                <button class="calcul" type="button" add-person="second_tarif"
                                    data-add-person-action="decrement">-</button>
                                <button class="calcul" type="button" add-person="second_tarif"
                                    data-add-person-action="increment">+</button>
                                <span data-display="second_tarif"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>{% for tick in ticket %}{% if tick.id == 1 %}{{ tick.name }}{% endif %}{% endfor %}</td>
                            <td>
                                <button class="calcul" type="button" add-person="first_tarif"
                                    data-add-person-action="decrement">-</button>
                                <button class="calcul" type="button" add-person="first_tarif"
                                    data-add-person-action="increment">+</button>
                                <span data-display="first_tarif"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="result">
                    Total pour <span data-display="nbPersonnes"></span> personnes: <span data-display="total"></span>€
                </div>
            </div>
        </div>
    </div>
<script>
(function () {

  function refreshView() {
    var elements = document.querySelectorAll('[data-display]');
    for (var elem of elements) {
      var name = elem.getAttribute('data-display');
      elem.innerHTML = data[name];
    }
  }

  var price = {
    {% for tick in ticket %}{% if tick.id == 1 %}
    first_tarif: {{ tick.price }},
    {% endif %}{% endfor %}

    {% for tick in ticket %}{% if tick.id == 2 %}
    second_tarif: {{ tick.price }},
    {% endif %}{% endfor %}

    {% for tick in ticket %}{% if tick.id == 3 %}
    third_tarif: {{ tick.price }},
    {% endif %}{% endfor %}

    {% for tick in ticket %}{% if tick.id == 4 %}
    fourth_tarif: {{ tick.price }},
    {% endif %}{% endfor %}
  }

  var data = {
    
    first_tarif: 0,
    second_tarif: 0,
    third_tarif: 0,
    fourth_tarif: 0,

    get nbPersonnes() {
      return data.first_tarif + data.second_tarif + data.third_tarif + data.fourth_tarif;
    },
    get total() {
      return (
        data.first_tarif * price.first_tarif +
        data.second_tarif * price.second_tarif +
        data.third_tarif * price.third_tarif +
        data.fourth_tarif * price.fourth_tarif
      );
    }
  };

  var buttons = document.querySelectorAll('button[add-person]');
  for (const button of buttons) {
    button.addEventListener('click', function (event) {
      var type = event.target.getAttribute('add-person');
      var action = event.target.getAttribute('data-add-person-action');
      if (action == "decrement") {
        data[type] = Math.max(data[type] - 1, 0);
      } else if (action == "increment") {
        data[type]++;
      }
      refreshView();
    })
  }
  refreshView();
}());
</script>
</main>
{% endblock %}