{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/log.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<main>
    <div class="container">
        <h4>Contact</h4>
        {% include 'flash_messages.html.twig' %}
        {{ form_start(formContact) }}
        {{ form_row(formContact.name, { 'label': 'Nom' }) }}
        {{ form_row(formContact.from, { 'label': 'Email' }) }}
        {{ form_row(formContact.message, { 'label': 'Message' }) }}
        <input type="submit" value="Envoyer" />
        {{ form_end(formContact) }}
    </div>
</main>
{% endblock %}