<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    {% block stylesheets %}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/animations.css') }}" rel="stylesheet" />
    {% endblock %}
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>

<body>


    <div id="hamburger">
        <div id="hamburger-content">
            <nav id="navbar">
                <a href="{{ path('home') }}"><img class="logo" src="{{ asset('img/logo_gamezone.png') }}"
                        alt="gamezone"></a>
                {% if not app.user %}
                <div class="avatar"><a href="{{ path('security_login') }}">{% trans %}Connexion{% endtrans %}</a><span
                        style="color:var(--color-yellow); padding: 0 0.2em 0 0.4em;">|</span><a
                        href="{{ path('security_registration') }}">{% trans %}Inscription{% endtrans %}</a></div>
                {% else %}
                {% if app.user.role == 1 %}
                <div class="avatar"><a style="color: red;" href="{{ path('administration') }}">Administration</a><span
                        style="color:var(--color-yellow); padding: 0 0.2em 0 0.4em;">|</span><a
                        href="{{ path('security_logout') }}">Déconnexion</a></div>
                {% else %}
                <div class="avatar"><img src="{{ app.user.avatar }}"><a
                        href="{{ path('account') }}">{{ app.user.username }}</a><span
                        style="color:var(--color-yellow); padding: 0 0.2em 0 0.4em;">|</span><a
                        href="{{ path('security_logout') }}">Déconnexion</a></div>
                {% endif %}
                {% endif %}
                <ul id="menu">
                    <li><a href="{{ path('attractions') }}">{% trans %}Attractions{% endtrans %}</a></li>
                    <li><a href="#">{% trans %}Préparer ma visite{% endtrans %}</a>
                        <ul>
                            <li><a href="#">{% trans %}Se rendre au parc{% endtrans %}</a></li>
                            <li><a href="{{ path('ticket') }}">{% trans %}Tarifs & Billetterie{% endtrans %}</a></li>
                            <li><a href="{{ path('calandar') }}">{% trans %}Horaires & Calendrier{% endtrans %}</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('plan') }}">{% trans %}Plan{% endtrans %}</a></li>
                    <li><a href="{{ path('ticket') }}" class="ticket">{% trans %}Tickets{% endtrans %}</a></li>
                </ul>
                <ul id="lang">
                    <li><a href="{{ path('setlocale') }}/fr"><img src="{{ asset('img/flags/fr.png') }}"></a>
                        <ul>
                            <li><a href="{{ path('setlocale') }}/en"><img src="{{ asset('img/flags/en.png') }}"></a>
                            </li>
                            <li><a href="{{ path('setlocale') }}/es"><img src="{{ asset('img/flags/es.png') }}"></a>
                            </li>
                        </ul>
                    </li>
            </nav>
        </div>

        <button id="hamburger-button"><img src="{{ asset('img/icons/menu_black.png') }}"></button>

        <div id="hamburger-sidebar">
            <div id="hamburger-sidebar-body"></div>
        </div>
        <div id="hamburger-overlay"></div>
    </div>


    {% block body %}
    {% endblock %}
    <footer>
        <div class="left_footer">
            <p>Rejoignez nous sur nos réseaux</p>
            <div class="social">
                <a href="#"><img src="{{ asset('img/social/insta.svg') }}" alt="Instagram"></a>
                <a href="#"><img src="{{ asset('img/social/youtube.svg') }}" alt="Youtube"></a>
                <a href="#"><img src="{{ asset('img/social/facebook.svg') }}" alt="Facebook"></a>
                <a href="#"><img src="{{ asset('img/social/twitter.svg') }}" alt="Twitter"></a>
            </div>
            <p class="number">08 59 62 08 59</p>
            <hr class="footer" />
            <div class="hour">Du lundi au jeudi : 9h-19h
                Du vendredi au samedi : 9h-20h
                Le dimanche : 9h – 18h
            </div>
        </div>
        <div class="logo_middle">
            <a href="./"><img src="{{ asset('img/logo_gamezone.png') }}" alt="gamezone"></a>
        </div>
        <div class="right_footer">

            <ul>
                <a href="{{ path('about') }}">
                    <li>A propos du Parc</li>
                </a>
                <a href="{{ path('presse') }}">
                    <li>Dans la Presse</li>
                </a>
            </ul>
            <ul>
                <a href="">
                    <li>On Recrute</li>
                </a>
                <a href="{{ path('contact') }}">
                    <li>Nous Contacter</li>
                </a>
            </ul>
            <ul>
                <a href="{{ path('cgv') }}">
                    <li>Conditions générales de ventes</li>
                </a>
                <a href="{{ path('mentions') }}">
                    <li>Mentions légales</li>
                </a>
            </ul>
        </div>
    </footer>
    <script src="{{ asset('js/hamburger.js') }}"></script>
    <script src="{{ asset('js/css3-animate-it.js') }}"></script>
</body>

</html>