{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/home.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<header>
    <h1 class="animated bounceIn">{% trans %}LE PREMIER PARC D’ATTRACTIONS{% endtrans %}

    {% trans %}ENTIÈREMENT DÉDIÉ AUX JEUX-VIDÉOS !{% endtrans %}</h1>
</header>
<main>
    <section id="attractions">
        <div class="box img1 animatedParent">
            <div class="cover">
                <img class="att_img" style="width: 75%; height: auto;" src="{{ asset('img/logo_game_center.png') }}">
                <h3 class="animated bounceInDown">Game Center</h3>
                <p>{% trans %}Un espace de 3000 m2 dédié au Retro Gaming. Vous retrouverez toute l’ambiance des salles d’arcade des années 80 avec les bornes de l’époque pour défier vos amis dans les meilleurs jeux retro comme Mario, Centipede, Q Bert, Space invaders, Pac-Man...{% endtrans %}</p>
                <div class="show" style="margin-top: 2.7em;"><a href="{{ path('attractions') }}">{% trans %}En savoir +{% endtrans %}</a></div>
            </div>
        </div>
        <div class="box img2">
            <div class="cover">
                <img class="att_img" style="width: 62%; height: auto;" src="{{ asset('img/logo_awesome_heroes.png') }}">
                <h3 class="animated bounceInDown">Awesome Heroes
                    Team</h3>
                <p>{% trans %}Une plongée épique dans l’univers des vikings et des chevaliers. Vous retrouverez l’ambiance du célèbre jeu For Honor du studio français Ubisoft. Une attraction riche en sensations fortes déconseillée aux âmes sensibles.{% endtrans %}</p>
                <div class="show" style="margin-top: 2.7em;"><a href="{{ path('attractions') }}">{% trans %}En savoir +{% endtrans %}</a></div>
            </div>
        </div>
        <div class="box img3">
            <div class="cover">
                <img class="att_img" style="width: 65%; height: auto;" src="{{ asset('img/logo_contagion_vr.png') }}">
                <h3 class="animated bounceInDown">Contagion
                    VR</h3>
                <p>{% trans %}Vous dirigez une équipe de soldats en charge de découvrir ce qui est arrivé aux scientifiques du laboratoire minier Omega Centuri B. Une fois à bord, vous apprenez qu’un terrible virus a fait muter tout l’équipage, et que la station spatiale est maintenant infestée par d’horribles zombies ! Vous devez donc évacuer votre équipe en tentant de survivre le plus longtemps possible.{% endtrans %}</p>
                <div class="show"><a href="{{ path('attractions') }}">{% trans %}En savoir +{% endtrans %}</a></div>
            </div>
        </div>
    </section>

    <div class="showmore">
        <a href="{{ path('attractions') }}">Voir toutes les attractions</a>
    </div>

    <section id="middle">
        <h1>Vous êtes prêt pour
            une expérience incroyable ?</h1>
        <p><strong>GEEK CYBERCENTER</strong> est un groupe
            possédant plusieurs parcs d’attractions dans le
            monde comme : BATTLE KART VR, FORTNITE
            ADVENTURE, PUBG SURVIVOR. En septembre
            2019, le groupe ouvrira un <strong>nouveau parc :
            GAME ZONE</strong>. Ce dernier sera le premier parc
            d’attraction au monde entièrement dédié à
            l’univers des jeux-vidéo.</p>
    </section>

    <section id="values">
        <div class="container">
            <div class="contain">
                <span>5</span>Restaurants
            </div>

            <div class="contain">
                <span>9</span>Attractions
            </div>

            <div class="contain">
                <span>500k</span>Visiteurs
            </div>

            <div class="contain">
                <span>9000</span>Hectares
            </div>
        </div>
    </section>
</main>
<script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
        } else {
            document.getElementById("navbar").style.top = "-200px";
        }
        prevScrollpos = currentScrollPos;
    }
</script>
{% endblock %}