{% extends 'base.html.twig' %}

{% block title %}Plan{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/plan.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<main>
    <div class="legends">

        <label class="container">Restaurants
            <input type="checkbox" id="restaurants" onclick="myRestaurants()">
            <span class="checkmark"></span>
        </label>

        <label class="container">Boutiques
            <input type="checkbox" id="boutiques" onclick="myBoutiques()">
            <span class="checkmark"></span>
        </label>

        <label class="container">Services
            <input type="checkbox" id="services" onclick="myServices()">
            <span class="checkmark"></span>
        </label>

        <label class="container">Photos
            <input type="checkbox" id="photos" onclick="myPhotos()">
            <span class="checkmark"></span>
        </label>
        <form name="f" multiple>
        <p class="title_size">Indiquer votre taille <i>(en cm)</i>
        pour afficher les attractions accessible</p>
            <select name="size">
                <option value="100">100</option>
                <option value="101">101</option>
                <option value="102">102</option>
                <option value="103">103</option>
                <option value="104">104</option>
                <option value="105">105</option>
                <option value="106">106</option>
                <option value="107">107</option>
                <option value="108">108</option>
                <option value="109">109</option>
                <option value="110">110</option>
                <option value="111">111</option>
                <option value="112">112</option>
                <option value="113">113</option>
                <option value="114">114</option>
                <option value="115">115</option>
                <option value="116">116</option>
                <option value="117">117</option>
                <option value="118">118</option>
                <option value="119">119</option>
                <option value="120">120</option>
                <option value="121">121</option>
                <option value="122">122</option>
                <option value="123">123</option>
                <option value="124">124</option>
                <option value="125">125</option>
                <option value="126">126</option>
                <option value="127">127</option>
                <option value="128">128</option>
                <option value="129">129</option>
                <option value="130">130</option>
                <option value="131">131</option>
                <option value="132">132</option>
                <option value="133">133</option>
                <option value="134">134</option>
                <option value="135">135</option>
                <option value="136">136</option>
                <option value="137">137</option>
                <option value="138">138</option>
                <option value="139">139</option>
                <option value="140">140</option>
            </select>
            <a href="#" class="att" onClick="myAttractions()">Afficher</a>
        </form>
            </div>
    <div class="plan" id="myPlan"></div>
</main>
<script src="{{ asset('js/plan.js') }}"></script>
{% endblock %}