{% extends 'base.html.twig' %}

{% block title %}Presse
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/presse.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="box_left">
                <h2>Dans la presse</h2>
                <hr class="under_title"/>
                    <div class="bloc">
                    <img src="https://via.placeholder.com/150">
                    <h3>L'article</h3>
                    <span>le 29/04/2019</span>
                    <p>Vestibulum justo sapien, feugiat at facilisis dignissim, fermentum vel nibh. Vestibulum sit amet varius mi. Vestibulum mattis orci ut dictum eleifend. In non dui ipsum. Integer non justo molestie, dapibus odio at, malesuada erat. Integer imperdiet ac diam feugiat consequat. Fusce ultricies rutrum pharetra. Donec posuere finibus aliquam. Nullam volutpat lacus et lectus aliquam interdum. Fusce in metus sit amet velit fermentum hendrerit. </p>
                    </div>

                    <div class="bloc">
                    <img src="https://via.placeholder.com/150">
                    <h3>LaVoixDuSud</h3>
                    <span>le 20/02/2019</span>
                    <p>Vestibulum justo sapien, feugiat at facilisis dignissim, fermentum vel nibh. Vestibulum sit amet varius mi. Vestibulum mattis orci ut dictum eleifend. In non dui ipsum. Integer non justo molestie, dapibus odio at, malesuada erat. Integer imperdiet ac diam feugiat consequat. Fusce ultricies rutrum pharetra. Donec posuere finibus aliquam. Nullam volutpat lacus et lectus aliquam interdum. Fusce in metus sit amet velit fermentum hendrerit. </p>
                    </div>
            </div>

            <div class="box_right"></div>
        </div>
    </main>
{% endblock %}
