{% extends 'base.html.twig' %}

{% block title %}Plan{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/calandar.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<main>
    <div id="show_calendar">&nbsp;</div>
    <div class="battlements">
    <div id="current_month"></div>
    <hr class="sep"/>
        <p>Du lundi au jeudi : 9h-19h 
        Du vendredi au samedi : 9h-20h 
        Le dimanche : 9h – 18h</p>
    </div>
</main>
<script src="{{ asset('js/calandar.js') }}"></script>
{% endblock %}