{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/log.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<main>
    {% if not app.user %}
    {% else %}
    {% if app.user.role == 1 %}
    <div class="container">
        <h4>Administration</h4>
        <p class="title_edit">Editer prix du ticket :</p>
        {% for tick in ticket %}
            <a class="ticket" href="{{ path('edit_ticket', {'id': tick.id }) }}">{{ tick.name }}</a><br/>
        {% endfor %}
        <p class="title_edit">Editer calendrier :</p>
    </div>
    {% else %}
    {% endif %}
    {% endif %}
</main>
{% endblock %}